<html>
    <body>
        <h3>Potwierdzenie wysłania wiadomości</h3>
        <p>Witaj {{ name }}! Twoja wiadmość została wysłana pomyślnie.</p>
        <p>Treść wiadmości:</br>
            {{ message }}
        </p>
        <p>Dziękujemy.</p>
    </body>    
</html>
