{% extends 'AppBundle::base.html.twig' %}
{% block title %}gry.{% endblock %}
{% block content %}
    <h2>Gry:</h2>
    <ul>
        {% for game in games %}            
            <a href="{{ path('show_game', {'slug': game.slug}) }}"><img src="{{ asset(game.cover, 'thumbnail') }}" alt="{{game.title}}" title="{{game.title}}"/></a>            
        {% endfor %}
    </ul>
{% endblock %}