{% extends 'AppBundle::base.html.twig' %}
{% block title %}{{ 'instruction.title'|trans }}{% endblock %}
{% block content %}
    <h2>{{ 'instruction.title'|trans }}</h2>
    <div>{{info}}</div>    
{% endblock %}